@model IEnumerable<OroUostoSistema.DatabaseOroUostas.Bilietas>
@{
    ViewBag.Title = "Mano Bilietai";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skrydis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kaina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SedimaVieta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pardavejas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Busena)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skrydis.Pavadinimas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kaina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SedimaVieta.Klase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pardavejas.Pavadinimas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetStatus)
            </td>
            <td>
                @Html.ActionLink("Redaguoti", "RedaguotiRezervuotaBilieta", new { id = item.ID })
            </td>
        </tr>
    }

</table>
