@model OroUostoSistema.DatabaseOroUostas.Uzsakovas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Uzsakovas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vardas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vardas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pavarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pavarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElPastas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElPastas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numeris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numeris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slaptazodis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slaptazodis)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @*@Html.AntiForgeryToken()*@

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
